.navbar-brand {
    width: 100%;
}

#main {
    margin-top: 65px;
}

.camo {
    margin-bottom: 10px;
}

.camo input {
    margin-top: 10px;
}

.delete {
    cursor: pointer;
}

/* Add Button */
.bi-btn {
    line-height: 1;
}

.bi-btn .bi {
    font-size: 1.7em;
}

/* Modal */
#create input {
    margin-bottom: 10px;
}

#create input:last-child {
    margin-bottom: 0;
}
