.navbar-brand {
    width: 100%;
}

#main {
    margin-top: 60px;
}

.camos {
    min-width: none;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Camo Card */

.camo {
    margin-bottom: 5px;
}

.camo input {
    margin-top: 5px;
}

.camo .card-body {
    padding: 5px;
}
.camo .card-body .card-title {
    margin-bottom: 5px;
}

.delete {
    cursor: pointer;
}

/* Add Button */
.bi-btn {
    line-height: 1;
}

.bi-btn .bi {
    font-size: 1.7em;
}

/* Modal */
#create input {
    margin-bottom: 10px;
}

#create input:last-child {
    margin-bottom: 0;
}
