<!doctype html>
<html lang="en" ng-app="camo">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-icons.css">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/angular.min.js"></script>

    <script src="js/tracker.js"></script>
    <link href="css/layout.css" rel="stylesheet">

    <title>Camo Tracker</title>
  </head>
  <body id="main" ng-controller="TrackerController as tracker">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container text-center">
          <a class="navbar-brand">Camo Tracker</a>
        </div>
    </nav>

    <div class="container" >

        <!-- Card Example -->
        <div class="card camo" ng-repeat="item in tracker.items">
            <div class="card-body">
                <h5 class="card-title">{{item.title}} ({{item.start}}/{{item.end}})<a class="delete text-danger" ng-click="tracker.delete($index)"><i style="float: right;" class="bi bi-x"></i></a></h5>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ tracker.progress(item.start, item.end) }}%" aria-valuenow="97" aria-valuemin="0" aria-valuemax="250">{{ tracker.progress(item.start, item.end) }}%</div>
                </div>

                <input class="form-control" type="number" min="0" max="500" ng-model="item.start" placeholder="Current" aria-label="default input example" aria-describedby="inputGroup-sizing-sm">

            </div>
          </div>

          <!--  -->

        <!-- Add Button -->
        <div class="d-grid gap-2">
            <button class="btn btn-primary bi-btn" type="button" data-bs-toggle="modal" data-bs-target="#create"><i class="bi bi-plus"></i></button>
        </div>

    </div>

        <!-- Modal -->
        <div class="modal fade" id="create" tabindex="-1" aria-labelledby="createLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="createLabel">Create</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">Title</span>
                        <input type="text" class="form-control" ng-model="tracker.CreateModel.title" aria-describedby="basic-addon3">
                    </div>                    
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">Start</span>
                        <input type="number" class="form-control" min="0" ng-model="tracker.CreateModel.start" aria-describedby="basic-addon3">
                    </div>                    
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">End</span>
                        <input type="number" class="form-control" min="0" ng-model="tracker.CreateModel.end" aria-describedby="basic-addon3">
                    </div>

                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="tracker.create('test', 1, 250)">Save changes</button>
                </div>
            </div>
            </div>
        </div>

  </body>
</html>